<body>

    <h1>Pizza : {{title}}</h1>   
    <h2>Price : {{price}}$</h2>
    


    {{#if ingredients}}
    <ul>
        {{#each ingredients}}
            <li>{{this}}</li>
        {{/each}}
        <li>{{dough}}</li>
    </ul>
    <h4>This Pizza is Veggie : {{isVeggie}}</h4>
    {{else}}
        <h3>Call us for have all Ingredients</h3>
    {{/if}}
   
    
    <img src="/images/{{imageFile}}">

    {{> ctaOrderNow}}

    <h3>We need :{{timer}} Minutes for cook this Pizza.</h3>
</body>